<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<!-- Google Sign-In: 네이티브 SDK가 Info.plist에서 직접 읽는 Client ID -->
	<key>GIDClientID</key>
	<string>479734237683-vbeo3u1k79gfabok29fvmaqnka8rtohh.apps.googleusercontent.com</string>
	<!-- OAuth 콜백 URL 스킴 목록 -->
	<key>CFBundleURLTypes</key>
	<array>
		<!-- Google Sign-In: Client ID 역순 -->
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.479734237683-vbeo3u1k79gfabok29fvmaqnka8rtohh</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
		</dict>
		<!-- 카카오 로그인: kakao{네이티브앱키} -->
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_APP_KEY)</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Kakao Sign-In</string>
		</dict>
	</array>
	<!-- 카카오 앱 키 -->
	<key>KAKAO_APP_KEY</key>
	<string>$(KAKAO_APP_KEY)</string>
</dict>
</plist>
